<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Attune Channel</title>
	<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="/public/js/channel.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
<body>
	<div class="channel">
		<h1 id="title">Channel: </h1>
	</div>
	<div>
		<form>
			Enter Url or video Id here: </br>
			<input id="videoUrl" autocomplete="off" placeholder="https://www.youtube.com/watch?v=yecrOqC77jY"/><button id="loadUrl">load</button>
		</form>
	</div>
	<div id="player"></div>
	<ul id="messages"></ul>
	<form id="chatForm" action="">
		<input id="m" autocomplete="off" /><button>Send</button>
	</form>
</body>
