<!DOCTYPE html>
<html lang="en-us">
<head>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
	<title>Attune Channel</title>
	<script src="https://code.jquery.com/jquery.min.js "></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/javascript" src="../public/js/channel.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<body>
	<header>
		<h1 class="channel" id="title"><strong>Channel: {{name}}</strong></h1>
	</header>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-6">
				<div class="col-xs-12 embed-responsive embed-responsive-4by3">
					<div class="embed-responsive-item" id="player"></div>
				</div>
					<form class="col-xs-12 loadForm hidden urlForm" >
						<input class="col-xs-10" autocomplete="off" id="videoUrl" placeholder="Enter youtube link here..."/><button class="left" id="loadUrl"><strong>load</strong></button>
					</form>
					<form class="col-xs-12 queueForm urlForm" >
						<input class="col-xs-10" autocomplete="off" id="queueUrl" placeholder="Enter youtube link here..."/><button class="left" id="queueButton"><strong>Queue</strong></button>
					</form>
			</div>
			<div class="col-xs-6" >
				<div class="row">
					<div class="messageArea">
						<div class="row">
							<ul class="col-xs-10 messageArea" id="messages"></ul>
							<div class="col-xs-2">
								<label><strong>Online Users:</strong></label>
								<ul class="userList"></ul>
							</div>
						</div>
					</div>
					<div class="row">
							<form class="col-xs-12" id="chatForm" action="">
								<input class="col-xs-11"type="text" id="m" placeholder="Say something..." autocomplete="off"></input><button class="left"><strong>Send</strong></button>
								<label class="col-xs-7">Name: <input value="Anonymous" id="n" autocomplete="off" maxlength="16"/></label>
							</form>
							<button class="skip left"><strong>Skip</strong></button>
							<ul class="col-xs-12 queue"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
