<!DOCTYPE html>
<html lang="en-us">
<head>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
	<title>Attune</title>
	<script src="https://code.jquery.com/jquery.min.js "></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/javascript" src="../public/js/lobby.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/lobbystyles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<header>
			<h1 class="channel" id="title"><strong>Attune</strong></h1>
	</header>
  <h2>Welcome to Attune!</h2>
  <h3>On this website you can watch videos and chat with others.  Join or create a channel and tune in with others.</h3>
  <br>
  <h3><a href="channel">Go to the Lobby</a></h3>
  <br>
  <h3>If you want to watch with friends: After you've joined a channel, copy the url and send them a link.</h3>
  <H3>When you are in a channel, anyone can add videos to a queue and the videos will autoplay in the order recieved.</h3>
  <!-- <h3> The video's seeker and the play/pause can be controlled by anyone in the room.</h3> -->
  <h3>The skip button initiates a vote to skip the current video.  If it gets more than half of the viewers' votes, it will skip to the next video in the queue.</h3>

</body>
</html>
