<!DOCTYPE html>
<html lang="en-us">
<head>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
	<title>Attune Lobby</title>
	<script src="https://code.jquery.com/jquery.min.js "></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/javascript" src="../public/js/lobby.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/lobbystyles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<header>
			<h1 class="channel" id="title"><strong>Attune Lobby</strong></h1>
	</header>
	<div class="row">
		<!-- <div class="lobby">
			<button class="create" onclick="createChannelFormSetVisibilty('block')">Create Channel</button>
		</div> -->
	</div>
		<form class ="row">
			<div id="createChannelForm" class="lobby col-xs-6">
				<div class="left">
					<input placeholder="Channel Name" id="channelName" type="text" minlength="1" maxlength="30"	pattern="^[a-zA-Z0-9_.-]*$" required>
					<!-- <input placeholder="Password" id="password" type="text" maxlength="30"	pattern="[A-Za-z0-9]+" required> -->
				</div>
				<div class="left">
					<button type="submit" class="create" value="Create" ><strong>create</strong></button>
				</div>
				<div class="col-xs-12">
					<input id="checkBox" type="checkbox">Playlist mode
				</div>
			</div>
			<!-- <input type="button" class="col-xs-3 cancel" value="Cancel" /> -->
		</form>
		<h5 class="col-xs-12"><h5>
	</div>
	<div class="lobby">
		<table id="channelsTable" class="lobbyTable row" style="width:100%">
			<tr>
				<th><strong>List of Channels</strong></th
			</tr>
		</table>
	</div>
</body>
</html>
