<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Attune Lobby</title>
	<style>
		title {
			display: none;
		} 
		.lobby {
			margin: 10px;
			padding: 10px;
			background-color: lightgrey;
		}
		.lobbyTable {
			margin: 5px;
			padding: 10px;
		}
		.lobbyTable td {
			margin: 5px;
			padding: 10px;
		}
	</style>
	<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="/public/js/lobby.js"></script>
</head>
<body onload="loadPage()">
	<div class="lobby">
		<h1>Attune Lobby</h1>
	</div>
	<div class="lobby">
		<button  onclick="createChannelFormSetVisibilty('block')">Create Channel</button>
		<button onclick="updateTable()">Reload</button>
		<form style="float: right;">
			<input type="text" name="query"></input>
			<input type="submit" value="Search"/>
			
		</form>
	</div>
	<div id="createChannelForm" class="lobby">
		<form>
			Channel Name:<br>
			<input id="channelName" type="text" name="channelName"><br>
			<input type="button" value="Create" onclick="createChannel()">
			<input type="button" value="Cancel" onclick="createChannelFormSetVisibilty('none')"/>
		</form>
	</div>
	<div class="lobby">
		<table id="channelsTable" class="lobbyTable" style="width:100%">
			<tr>
				<th>Channel Name</th>
				<th>Owner</th>
			</tr>
		</table>
	</div>
</body>
</html>