<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Attune Lobby</title>
	<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="/public/js/lobby.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/lobbystyles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body onload="loadPage()">
	<header class="row">
		<div class="col-xs-12">
			<h1>Attune Lobby</h1>
		</div>
	</header>
	<div class="row">
		<div class="lobby">
			<button  onclick="createChannelFormSetVisibilty('block')">Create Channel</button>
		</div>
	</div>
	<div id="createChannelForm" class="lobby col-xs-2">
		<form>
			Channel Name:
			<input id="channelName" class="col-xs-12" type="text" name="channelName"><br>
			<input type="button" value="Create" onclick="createChannel()">
			<input type="button" value="Cancel" onclick="createChannelFormSetVisibilty('none')"/>
		</form>
	</div>
	<div class="lobby row">
		<table id="channelsTable" class="lobbyTable col-xs-12" style="width:100%">
			<tr>
				<th>Channel Name</th>
				<th>Owner</th>
			</tr>
		</table>
	</div>
</body>
</html>
