title {
	display: none;
}
.channel{
	margin-bottom: 10px;
	padding: 10px;
	width:100%;
	background-color: red;
	color: #e6e6e6;
	box-shadow: 0px 5px 5px 0px #b5b5b5;
}

h3, h2 {
    text-align: center;
}

.lobby {
	margin: 10px;
	padding: 10px;
	/*background-color: lightgrey;*/
}
.lobbyTable {
	margin: 5px;
	padding: 10px;
}
.lobbyTable td {
	margin: 5px;
	padding: 10px;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	text-shadow: 3px #666666;
}
.left{
	float: left;
}
input[type="text"] {

}
button, input[type="button"] {
	background: lightblue; border: none; padding: 3px;
	/*border: 1px;*/
	/*border-color: darkgrey;*/
}
.cancel{
	background-color: white !important;
	border:1px solid !important;
	border-color: black !important;
}
